<div id="users-list">
  <p-toast></p-toast>
  <div fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayoutAlign="start center" style="margin-bottom: 10px">
       <div class="header-title" fxFlex="90%">
      <strong class="header-title">Manage </strong>List Users
    </div>
      <button fxFlex="10%" pButton class="p-button-outlined create-btn" label="New User" icon="pi pi-plus"
              (click)="showCreationDialog()"></button>
    </div>

    <div fxFlex="100">
      <p-table #dt
               [value]="users"
               dataKey="id"
               [rowHover]="true"
               styleClass="p-datatable-gridlines users-table datatable-border"
               [(first)]="first"
               [(rows)]="rows"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="rowPerPageOptions"
               [totalRecords]="totalRecords"
               [paginator]="true"
               stateStorage="local"
               currentPageReportTemplate="{first} - {last} of {totalRecords}"
               scrollHeight="478px"
               [scrollable]="true"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            List of Users
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-content-between align-items-center">
                FullName
              </div>
            </th>
            <th style="min-width: 200px; max-width: 200px">
              <div class="flex justify-content-between align-items-center">
                Username
              </div>
            </th>
            <th style="min-width: 300px; max-width: 300px">
              <div class="flex justify-content-between align-items-center">
                Email
              </div>
            </th>
            <th style="min-width: 200px; max-width: 200px">
              <div class="flex justify-content-between align-items-center">
                Role
              </div>
            </th>
            <th style="min-width: 100px; max-width: 100px">
              <div fxFlexFill fxLayoutAlign="center center">
                Actions
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr class="p-selectable-row">
            <td>
              {{user.firstName + ' ' + user.lastName}}
            </td>
            <td style="min-width: 200px; max-width: 200px">
              {{ user.username }}
            </td>
            <td style="min-width: 300px; max-width: 300px">
              {{ user.email }}
            </td>
            <td style="min-width: 200px; max-width: 200px">
              <div *ngFor="let role of user.roles" fxLayout="row">
                <ng-container [ngSwitch]="role">
                  <ng-template [ngSwitchCase]="'ADMIN'">

                  <p-badge severity="danger" [value]="role"></p-badge>

                  </ng-template>
                  <ng-template [ngSwitchCase]="'USER'">

                    <p-badge severity="success" [value]="role"></p-badge>

                  </ng-template>
                </ng-container>
              </div>
            </td>
            <td style="min-width: 100px; max-width: 100px">
              <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
                <button
                  class="p-button-text p-button-neutral"
                  (click)="menu.toggle($event); onRowClick(user)"
                  icon="pi pi-ellipsis-v"
                  pButton></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Users found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <button type="button" class="p-button-outlined p-button-danger" pButton icon="pi pi-times" label="No"
            (click)="cd.reject()"></button>
    <button type="button" class="p-button-danger" pButton icon="pi pi-trash" label="Delete"
            (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<!--<p-overlayPanel #op>
  <ng-template pTemplate>
    <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
      <button pButton pRipple type="button" icon="pi pi-pencil"
              class="p-button-rounded p-button-outlined" (click)="showEditDialog(user)"></button>
      <button pButton pRipple type="button" icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-outlined"
              (click)="confirmDelete(user)"></button>
    </div>
  </ng-template>
</p-overlayPanel>-->

<p-menu #menu [model]="items" [style]="{ width: '230px'}"  [popup]="true"></p-menu>
