  <div class="connected-account" fxLayout="row" fxFlexAlign="start center" [fxLayoutGap]="'10px'" fxFlex="100%">

  <div>
    <div class="facebook-profile" fxFlex="calc(100%-44px)">
      <span class=" pi pi-facebook" style="color: #3B82F6; font-size: 34px"></span>
    </div>
  </div>


  <div class="account-details" fxFlexAlign="start center" fxFlex="95%" >
    <span class="username"> {{userName}} </span>
  </div>

  <div fxFlex="15%" class="sign-out  pi pi-sign-out"  (click)="logOut()">
    <span  style=" font-size: 16px; margin-left: 5px"> Sign out </span>

  </div>


</div>
