<div class="connected-account" fxLayout="row" fxFlexAlign="start center" [fxLayoutGap]="'5px'" fxFlex="100%">
  <p-tag [rounded]="true">
    <div class="facebook-profile" fxFlex="calc(100%-44px)">
      <span class=" pi pi-facebook" style="color: white; font-size: 34px"></span></div>
  </p-tag>
  <div class="account-details" fxFlexAlign="start center" fxFlex="90%" >
<!--    {{userName |json}}-->
    <span> hh badr reqassi </span>
  </div>
     <!-- <div class="sign-out" fxFlex="calc(100%-44px)">
        <span class=" pi pi-sign-out" style="color: white; font-size: 34px"></span>
      </div>-->
  <div fxFlex="20%" class="sign-out" >
    <span  style="color: red; font-size: 16px"> Sign out </span>

  </div>


</div>
