<p-toast></p-toast>
<div id="creature-card">
  <div fxFlexFill fxLayout="row">
    <div class="creature-title" fxFlex="50">
      <span ><span class="bold">Hello</span> {{username}} </span>
    </div>
    <div fxFlex="50" fxLayoutAlign="end center">
      <button pButton [ngClass]="disabled? 'p-button-outlined p-button-secondary create-btn' : 'create-btn' " (click)="show()" label="Create new test" icon="pi pi-plus" iconPos="right" [disabled]="disabled"></button>
    </div>
  </div>
  <div class="connect-fb-section" fxLayoutAlign="center center" *ngIf="!loggedIn else LogIn">
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxFlex class="connect-message">
        <i class="pi pi-info-circle"></i>
        <h3> You need to connect your Facebook account.</h3>
      </div>
      <div fxFlex class="connect-btn">
        <button pButton class="p-button-outlined create-btn" label="Link your Facebook account" icon="pi pi-facebook" (click)="onLogin()"></button>
      </div>
    </div>

  </div>

  <ng-template #LogIn >
    <div class="creators-list">
      <p-table #dt
               [value]="creators"
               dataKey="id"
               [rowHover]="true"
               styleClass="p-datatable-gridlines datatable-border"
               [(first)]="first"
               [(rows)]="rows"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="rowPerPageOptions"
               [totalRecords]="totalRecords"
               [paginator]="true"
               stateStorage="local"
               currentPageReportTemplate="{first} - {last} of {totalRecords}"
               scrollHeight="530px"
               [scrollable]="true"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
             Creators List
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 80px; max-width: 80px">
              <div class="align-center">
                Active
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Creators
              </div>
            </th>
            <th style="min-width: 200px; max-width: 200px">
              <div class="flex justify-content-between align-items-center">
                Number of tests
              </div>
            </th>
            <th style="min-width: 200px; max-width: 200px">
              <div class="flex justify-content-between align-items-center">
                Diffusion
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-creator>
          <tr class="p-selectable-row" (dblclick)="NavigateIntoListAdSet(creator)">
            <td style="min-width: 80px; max-width: 80px">
              <div *ngIf="creator.status === 'ACTIVE' else unchecked;">
                <p-inputSwitch (onChange)="onChangeStatus(creator)" [trueValue]="false"></p-inputSwitch>
              </div>
              <ng-template #unchecked>
                <p-inputSwitch (onChange)="onChangeStatus(creator)" [falseValue]="false"></p-inputSwitch>
              </ng-template>
            </td>
            <td>
              {{creator.name}}
            </td>
            <td style="min-width: 200px; max-width: 200px">
              {{creator.ads?.data?.length}}
            </td>
            <td style="min-width: 200px; max-width: 200px">
              {{creator.status}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Creators found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</div>
