#change-password::ng-deep {
  height: 700px;

  .p-password , .p-inputtext {
    width: 100%
  }

  .required-indicator{
    color: red;
  }

  .submit-area{
    margin-top: 50px;
  }
  .center-content{
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
