<div id="change-password">
  <div>
    <h2>Change Password</h2>
  </div>
  <p-divider></p-divider>
  <div fxLayoutAlign="space-around center" style="margin-top: 120px">
    <div fxFlex="25">
      <form [formGroup]="passwordForm">
        <div fxLayout="row wrap" fxLayoutAlign="none start">
          <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">
            <div fxFlex="100" fxLayout="column" class="default-margin" style="width: 100% ">
              <label class="default-margin">Current Password <span class="required-indicator">*</span></label>
              <p-password
                [formControlName]="'currentPassword'"
                [feedback]="false"
                [toggleMask]="passwordForm.controls['currentPassword'].touched"
                placeholder="Enter current password"
                [class]="passwordForm.controls['currentPassword'].invalid && passwordForm.controls['currentPassword'].touched ?'ng-invalid ng-dirty password-area' : 'password-area'"></p-password>
            </div>
            <div fxFlex="100" fxLayout="column" class="default-margin" style="width: 100% ">
              <label class="default-margin">New Password <span class="required-indicator">*</span></label>
              <p-password
                [formControlName]="'newPassword'"
                [toggleMask]="passwordForm.controls['newPassword'].touched"
                placeholder="Enter new password"
                [class]="passwordForm.controls['newPassword'].invalid && passwordForm.controls['newPassword'].touched ?'ng-invalid ng-dirty' : ''"></p-password>
            </div>
            <div fxFlex="100" fxLayout="column" class="default-margin" style="width: 100% ">
              <label class="default-margin">Confirm new password <span class="required-indicator">*</span></label>
              <p-password
                [feedback]="false"
                [toggleMask]="passwordForm.controls['confirmPassword'].touched"
                [formControlName]="'confirmPassword'"
                placeholder="Confirm new password"
                [class]="passwordForm.controls['confirmPassword'].invalid && passwordForm.controls['confirmPassword'].touched ?'ng-invalid ng-dirty' : ''"></p-password>
            </div>
            <div fxFlex="100" fxLayoutAlign="center space-around" class="submit-area">
              <button pButton class="submit-btn" icon="pi pi-lock" label="Change Password" (click)="onSubmit()"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
