<div id="createAd" fxLayout="column" [fxLayoutGap]="'10px'">
  <p-confirmDialog #cd [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
      <button type="button" class="p-button-outlined p-button-danger" pButton label="No"
              (click)="cd.reject()"></button>
      <button type="button" class="p-button-danger" pButton label="Leave"
              (click)="cd.accept()"></button>
    </ng-template>
  </p-confirmDialog>

  <div fxLayout="row" style="width: 100%">
    <div fxFlex="95%" class="title">
      <span class="bold">
        Nouveau
        </span>
      <span>
          Testing
        </span>
      <span class="bold">.</span>
    </div>
    <div fxFlex="5%">
      <button pButton class="p-button-rounded buttonTime" icon="pi pi-times"
              (click)="close()"
      ></button>
    </div>
  </div>
  <div>
    <form [formGroup]="beanAds" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayoutAlign="none start">

        <div fxLayout="column" class="default-margin" style="width: 100% ">
          <label class="default-margin"> <span> Nom de test <strong style="color: red ">&nbsp;*</strong></span></label>
          <input
            [formControlName]="'name'"
            type="text" pInputText
            placeholder="Entrez un nom pour le test..."
            [class]="valid?'' : 'ng-invalid ng-dirty'">
        </div>

        <div fxLayout="row" style="width: 100%">
          <div fxLayout="column" style="width:calc(60% - 50px) ; margin-right: 50px">
            <label class="default-margin">Pour le Créateur <strong style="color: red ">&nbsp;*</strong></label>
            <p-dropdown [options]="compaigns"
                        [formControlName]="'campaign'"
                        (onChange)="onchangeCompaigns($event)"
                        [class]="valid?'' : 'ng-invalid ng-dirty'"
                        placeholder="Choisissez un créateur ..."
                        optionLabel="name"></p-dropdown>
          </div>
          <!--slider-->
          <div fxLayout="column" style="width: calc(60% - 50px)" fxLayoutAlign="center center" [fxLayoutGap]="'10px'">
            <div fxLayout="row" style="width: 100%;" [fxLayoutGap]="'8px'" fxLayoutAlign="start center" class="default-margin">
              <p-checkbox value="true" [binary]="true" (onChange)="activeBugetManul($event)"></p-checkbox>
              <span>Ajuster le montant à déposer </span> <span class="bold">{{ beanAds.value.budget }} €</span>
            </div>
            <div style="width: 100%;">
              <p-slider [min]="0" [max]="50"
                        (ngModelChange)="setMinBudgetPerAd($event)"
                        [disabled]="disableSlider"
                        [formControlName]="'budget'"
                        [class]="valid?'' : 'ng-invalid ng-dirty'"></p-slider>
            </div>
          </div>
          <!-- end slider-->
        </div>
        <div style="width: 100%; height: 26px">
          <p-divider></p-divider>
        </div>
        <!--  upload-->
        <div fxLayout="row" style="width: 100%; height: 200px" class="default-margin">
          <div fxLayout="column" class="default-margin" style="width:calc(60% - 50px); margin-right: 50px">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
              <label fxFlex="70%" class="default-margin"> Importez vos videos <strong style="color: red ">&nbsp;*</strong> </label>
              <div fxFlex="30%" fxLayoutAlign="end center" class="message default-margin"> jusqu'à 5 videos</div>
            </div>
            <p-fileUpload
              [auto]="true"
              accept="video/*"
              [multiple]="true"
              chooseIcon="pi pi-upload"
              chooseLabel="Upload"
              (onSelect)="onUploadVideo($event)">
              <ng-template let-file pTemplate="file">
              </ng-template>
              <ng-template pTemplate="content" let-files>
                <div style="max-height: 150px; overflow: auto" class="default-margin">
                  <div *ngIf="uploadedFilesVideo.length>0 else video">
                    <app-show-upload-files [files]="uploadedFilesVideo" (onDelete)="setMinBudgetPerAd()"></app-show-upload-files>
                  </div>
                  <ng-template #video>
                    <app-content-empty [valid]="valid"></app-content-empty>
                  </ng-template>
                </div>
              </ng-template>
            </p-fileUpload>
          </div>


          <div fxLayout="column" class="default-margin" style="width:calc(60% - 50px);">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
              <label fxFlex="65%" class="default-margin"> Importez vos thumbnails </label>
              <div fxFlex="35%" fxLayoutAlign="end center" class="message default-margin"> jusqu'à 2 thumbnails</div>
            </div>
            <p-fileUpload
              [class]="valid?'' : 'ng-invalid ng-dirty'"
              (onSelect)="onUpload($event)"
              accept="image/*"
              chooseIcon=" pi pi-upload"
              chooseLabel="Upload"
              [multiple]="true"
              [auto]="true">
              <ng-template let-file pTemplate="file">
              </ng-template>
              <ng-template pTemplate="content" let-files>
                <div style="max-height: 150px; overflow: auto" class="default-margin">
                  <div *ngIf="uploadedFiles.length>0 else thumbnail">
                    <app-show-upload-files [uploadTypeIcon]="'pi pi-image'" [files]="uploadedFiles" (onDelete)="setMinBudgetPerAd()"></app-show-upload-files>
                  </div>
                  <ng-template #thumbnail>
                    <app-content-empty [valid]="valid" [icon]="'pi pi-image'" [message]="'Aucune thumbnail importée'"></app-content-empty>
                  </ng-template>

                </div>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <!--  end upload-->
        <div style="width: 100% ;margin-top: 15px ;height: 26px">
          <p-divider></p-divider>
        </div>
        <!--  title-->
        <div fxLayout="column" style="width:100%" fxLayoutAlign="center center">
          <div fxLayout="row" style="width: 100%; height: 200px">
            <div fxLayout="column" style="width:calc(60% - 50px) ; margin-right: 50px" [fxLayoutGap]="'15px'">
              <label class="default-margin">Ajoutez vos titres : <strong style="color: red ">&nbsp;*</strong> </label>
              <input
                type="text" pInputText
                placeholder="Entrez un titre..."
                [formControlName]="'title'">
              <div fxLayoutAlign="end center">
                <button pButton
                        type="button"
                        label="Ajouter"
                        icon="pi pi-plus"
                        [iconPos]="'right'"
                        (click)="addTitle()"
                        class="p-button-outlined p-button-rounded button-add-list"></button>
              </div>

            </div>
            <div fxLayout="column" style="width:calc(60% - 50px);">
              <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                <label fxFlex="70%"> Votre titres </label>
                <div fxFlex="30%" fxLayoutAlign="end center" class="message"> jusqu'à 5 titres</div>
              </div>
              <div style="max-height: 150px; overflow: auto">

                <div *ngIf="listTitre.length>0 else titre">
                  <app-show-upload-files [uploadTypeIcon]="'pi pi-align-center'" [operationType]="'titles'" [files]="listTitre"></app-show-upload-files>
                </div>
                <ng-template #titre>
                  <app-content-empty [valid]="valid" [icon]="'pi pi-align-center'" [message]="'Aucune titre importée'"></app-content-empty>
                </ng-template>
              </div>
            </div>

          </div>


        </div>

        <!--  end title-->

        <!-- creer-->

        <div fxLayout="column" style="width:100% "  fxLayoutAlign="center center">
          <button pButton style="width: 35%;" type="submit" label="Créer" class="p-button-rounded" [loading]="isLoading"></button>
        </div>

        <!--end creer-->

      </div>
    </form>
  </div>

</div>
