<div id="adSetList" style="max-width: 1804px">
  <div fxLayout="column" [fxLayoutGap]="'10px'">
    <div fxFlexFill fxLayout="row">
      <div class="title" fxFlex="50%">
        <span class="bold"><span> List des ads  </span> {{name}} </span>
      </div>
    </div>
    <div fxLayout="row" [fxLayoutGap]="'21px'">
      <div class="adSetList-list" fxFlex="calc(70%-21px)">
        <p-table #dt
                 [value]="adsList"
                 [columns]="cols"
                 [rowHover]="true"
                 styleClass="p-datatable-gridlines datatable-border"
                 [(first)]="first"
                 [(rows)]="rows"
                 [reorderableColumns]="true"
                 [resizableColumns]="true"
                 [showCurrentPageReport]="true"
                 [rowsPerPageOptions]="[10,25,50]"
                 [totalRecords]="totalRecords"
                 [paginator]="true"
                 (onRowSelect)="onRowSelect($event)"
                 (onRowUnselect)="close($event)"
                 selectionMode="single"
                 stateStorage="local"
                 dataKey="id"
                 currentPageReportTemplate="{first} - {last} sur {totalRecords}"
                 scrollHeight="475px"
                 [scrollable]="true"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              List des tests
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>

              <th pReorderableColumn
                  pResizableColumn style="max-width: 70px">
                Actif
              </th>
              <th *ngFor="let col of columns"
                  pReorderableColumn
                  pResizableColumn
                  style="width: 200px">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <ng-container *ngFor="let col of columns">
                <ng-container [ngSwitch]="col.field">
                  <td *ngSwitchCase="'created_time'" style="width: 200px">
                    {{rowData[col.field] | date: 'YYYY-MM-dd HH:mm:ss'}}
                  </td>
                  <td *ngSwitchCase="'status'" style="width: 200px ; justify-content: center">
                    <app-status [value]="rowData[col.field]"></app-status>
                  </td>
                  <td [title]="rowData[col.field]" *ngSwitchDefault style="width: 200px">
                    {{rowData[col.field]}}
                  </td>
                </ng-container>
              </ng-container>
            </tr>

          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No ads found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div fxFlex="calc(30%-21px)" *ngIf="openChart">
        <p-card>
          <div fxLayout="column" fxLayoutAlign="center center" [fxLayoutGap]="'5px'" fxFlex="100%">

            <div class="tilte" fxLayout="row" >
              <div fxLayout="column" fxLayoutAlign="start center" fxFlex="calc(100%-26px)">
              <div><strong> Titre selectione - </strong> {{ this.selectItem.title }}   </div>
                <app-status [value]="selectItem.status"></app-status>

              </div>
              <div style="height: 24px"  fxLayoutAlign="end center" fxFlex="26px">
                <span class="pi pi-times" style="cursor: pointer" (click)="close()"> </span></div>

            </div>
            <div class="video">
              <div *ngIf="videoSelection else video">
                <video></video>
              </div>
              <ng-template #video>
                <app-content-empty [message]="'No video'" [height]="'187'"></app-content-empty>
              </ng-template>
            </div>
            <div class="chart">
              <canvas [id]="'MyChart'"></canvas>
            </div>
          </div>
        </p-card>
      </div>

    </div>
  </div>

</div>
