<div id="adSetList" style="max-width: 1804px">
  <div fxLayout="column" [fxLayoutGap]="'10px'">
    <div fxFlexFill fxLayout="row">
      <div class="title" fxFlex="50%">
        <span class="bold"> Ads list  {{name}} </span>
      </div>
    </div>
    <div fxLayout="row" [fxLayoutGap]="'21px'">
      <div class="adSetList-list" fxFlex="calc(70%-21px)">
        <p-table #dt
                 [value]="adsList"
                 [columns]="cols"
                 [rowHover]="true"
                 styleClass="p-datatable-gridlines datatable-border"
                 [(first)]="first"
                 [(rows)]="rows"
                 [reorderableColumns]="true"
                 [resizableColumns]="true"
                 [showCurrentPageReport]="true"
                 [rowsPerPageOptions]="[10,25,50]"
                 [totalRecords]="totalRecords"
                 [paginator]="true"
                 (onRowSelect)="onRowSelect($event)"
                 (onRowUnselect)="close($event)"
                 [(selection)]="selectedAd"
                 selectionMode="single"
                 stateStorage="local"
                 dataKey="id"
                 currentPageReportTemplate="{first} - {last} sur {totalRecords}"
                 scrollHeight="475px"
                 [scrollable]="true"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              List des tests
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="min-width: 80px; max-width: 80px">
                <div class="align-center">
                  Active
                </div>
              </th>
              <th *ngFor="let col of columns"
                  pReorderableColumn
                  pResizableColumn
                  style="width: 200px">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td style="min-width: 80px; max-width: 80px">
                <div *ngIf="rowData.status === 'ACTIVE' else unchecked;">
                  <p-inputSwitch (onChange)="onChangeStatus(rowData)" [trueValue]="false"></p-inputSwitch>
                </div>
                <ng-template #unchecked>
                  <p-inputSwitch (onChange)="onChangeStatus(rowData)" [falseValue]="false"></p-inputSwitch>
                </ng-template>
              </td>
              <ng-container *ngFor="let col of columns">
                <ng-container [ngSwitch]="col.field">
                  <td *ngSwitchCase="'created_time'" style="width: 200px">
                    {{rowData[col.field] | date: 'YYYY-MM-dd HH:mm:ss'}}
                  </td>
                  <td *ngSwitchCase="'spend'" style="width: 200px"  >
                    <div *ngIf="rowData[col.field]">
                      {{rowData[col.field] + ' ' + rowData['currency']}}
                    </div>
                  </td>
                  <td *ngSwitchCase="'cost_per_results'" style="width: 200px">
                    <div *ngIf="rowData[col.field]">
                      {{rowData[col.field] + ' ' + rowData['currency']}}
                    </div>                  </td>
                  <td *ngSwitchCase="'cpm'" style="width: 200px">
                    <div *ngIf="rowData[col.field]">
                      {{rowData[col.field] + ' ' + rowData['currency']}}
                    </div>
                  </td>
                  <td *ngSwitchCase="'status'" style="width: 200px ; justify-content: center">
                    <app-status [value]="rowData[col.field]"></app-status>
                  </td>
                  <td [title]="rowData[col.field]" *ngSwitchDefault style="width: 200px">
                    <div *ngIf="rowData[col.field]">
                      {{rowData[col.field]}}
                    </div>
                  </td>
                </ng-container>
              </ng-container>
            </tr>

          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No ads found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div fxFlex="calc(30%-21px)" *ngIf="openChart">
        <p-card>
          <div fxLayout="column" fxLayoutAlign="center center" [fxLayoutGap]="'5px'" fxFlex="100%">
            <div fxFlex fxLayout="row" style="width: 100%">
              <div fxFlex="89" fxLayout="column" fxLayoutAlign="start start" class="title">
                <div><strong> Selected Title - </strong> {{ title }}</div>
                <app-status style="font-size: 11px" [value]="selectedAd.status"></app-status>
              </div>
              <div fxFlex="10" style="width: 100% ; height: 24px" fxLayoutAlign="end center"><span
                class="pi pi-times"
                style="cursor: pointer"
                (click)="close()"> </span>
              </div>
            </div>

            <div class="video">
              <div *ngIf="videoSelection else video">
                <div class="video-frame" #videoFrame></div>
              </div>
              <ng-template #video>
                <app-content-empty [message]="'No video'" [height]="'150'"></app-content-empty>
              </ng-template>
            </div>
            <div class="chart">
              <canvas [id]="'MyChart'"></canvas>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>

</div>
