<div  id="main" style="background-image: url(assets/img/testing_campaign_bg.svg);" fxLayout="column">
  <app-top-menu></app-top-menu>
  <div  fxLayout="column" fxLayoutAlign="space-around center" style="height: 100%"  >
    <div fxLayoutAlign="center start" fxFlexFill>
      <p-card class="card" fxFlex="100%" >
        <div fxLayout="column" [fxLayoutGap]="'10px'">
             <div *ngIf="items.length>1">
              <p-breadcrumb [model]="items" [home]="home" (onItemClick)="onSelectItem($event)" ></p-breadcrumb>
            </div>

          <router-outlet></router-outlet>
        </div>

      </p-card>
    </div>
  </div>
</div>
