#main::ng-deep{
.p-card .p-card-body {
    padding: 45px;
    height: 730px;
    width: 1820px;

}
  /*
    .p-card .p-card-content {
      padding: 0 !important;
    }*/
}

.card{
  position: absolute;
  margin: 50px;

}
