<div id="user-edit">
  <div>
    <h2>Edit User</h2>
  </div>
  <p-divider></p-divider>
  <div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayoutAlign="none start">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">
          <div fxFlex="48" fxLayout="column" class="default-margin" style="width: 100% ">
            <label class="default-margin">Username <span class="required-indicator">*</span></label>
            <input
              [formControlName]="'username'"
              type="text" pInputText
              placeholder="Type username"
              [class]="userForm.controls['username'].invalid && userForm.controls['username'].touched ?'ng-invalid ng-dirty password-area' : 'password-area'">
          </div>
          <div fxFlex="48" fxLayout="column" class="default-margin" style="width: 100% ">
            <label class="default-margin">Password <span class="required-indicator">*</span></label>
            <input
              pPassword
              type="password"
              [formControlName]="'password'"
              [feedback]="false"
              placeholder="Type password"
              [class]="userForm.controls['password'].invalid && userForm.controls['password'].touched ?'ng-invalid ng-dirty' : ''"/>
          </div>
          <div fxFlex="48" fxLayout="column" class="default-margin" style="width: 100% ">
            <label class="default-margin">FirstName <span class="required-indicator">*</span></label>
            <input
              [formControlName]="'lastName'"
              type="text" pInputText
              placeholder="Type lastname"
              [class]="userForm.controls['lastName'].invalid && userForm.controls['lastName'].touched ?'ng-invalid ng-dirty' : ''">
          </div>
          <div fxFlex="48" fxLayout="column" class="default-margin" style="width: 100% ">
            <label class="default-margin">LastName <span class="required-indicator">*</span></label>
            <input
              [formControlName]="'firstName'"
              type="text" pInputText
              placeholder="Type firstname"
              [class]="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched ?'ng-invalid ng-dirty' : ''">
          </div>
          <div fxFlex="48" fxLayout="column" class="default-margin" style="width: 100% ">
            <label class="default-margin">Email <span class="required-indicator">*</span></label>
            <input
              [formControlName]="'email'"
              type="text" pInputText
              placeholder="Type email"
              [class]="userForm.controls['email'].invalid && userForm.controls['email'].touched ?'ng-invalid ng-dirty' : ''">
          </div>
          <div fxFlex="48" fxLayout="column" class="default-margin" style="width: 100% ">
            <label class="default-margin">Role <span class="required-indicator">*</span></label>
            <p-dropdown [options]="roles"
                        [formControlName]="'role'"
                        [class]="userForm.controls['role'].invalid && userForm.controls['role'].touched ? 'ng-invalid ng-dirty w-100' : 'w-100'"
                        placeholder="Select a role"
                        optionLabel="name"></p-dropdown>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="submit-section" fxLayoutAlign="center space-around">
    <button pButton class="submit-btn" icon="pi pi-save" label="Save User" (click)="onSubmit()"></button>
  </div>
</div>

