/* You can add global styles to this file, and also import other style files */
@import "./styles/varStylePlat-marketer";
/*$title-color: #4C6FBF;*/

body{
  background-color: $background-color-body;
  margin: 0;
  padding: 0;
}
.default-margin{
  margin-bottom: 8px;
}
