/* You can add global styles to this file, and also import other style files */
@import "./styles/varStylePlat-marketer";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/*$title-color: #4C6FBF;*/

body {
  background-color: $background-color-body;
  margin: 0;
  padding: 0;
}

.default-margin {
  margin-bottom: 8px;
}


*{
  font-family: 'Poppins', sans-serif;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  padding: 8px
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  padding: 10px;
}
.p-paginator {
   background: white;
   color: none;
   border: none;
   border-width: 0;
   padding: 0px;
   border-radius: 0px;
}
.p-paginator .p-dropdown {
  height: 38px;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
  padding: 0px;

}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  height: 38px;
  width: 38px;
}

/* width */
::-webkit-scrollbar {
  max-height: 6px;
  max-width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
